* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
section {
  padding: 7rem 7.5rem;
}
body {
  background-color: #fff;
  font-family: "Roboto";
}

/* TOP */
marquee {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #402218;
  color: #f8f4ea;
  font-size: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

/* NAVIGATION BAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f8f4ea;
  padding: 0 7.5rem;
  z-index: 101;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo h1 {
  font-size: 12px;
  width: 132px;
  color: #402218;
  letter-spacing: 2px;
  font-weight: 500;
}
.nav-link img {
  width: 30px;
  height: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-link .menu-active {
  color: white;
  background-color: #402218;
  border-radius: 20px 0;
  transition: 0.1s linear;
}
.nav-link a {
  font-size: 12px;
  color: black;
  padding: 8px 22px;
  text-decoration: none;
  letter-spacing: 1px;
}
.nav-link a:hover {
  color: white;
  background-color: #402218;
  border-radius: 20px 0;
  transition: 0.1s linear;
}

.checkbtn {
  font-size: 22px;
  color: #402218;
  display: none;
}

#check {
  display: none;
}

/* BURGER MENU */

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }
  header {
    z-index: 101;
  }
  .logo {
    z-index: 101;
  }

  .nav-link {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #f8f4ea;
    top: 0;
    right: -100%;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-top: 20px;
  }

  .nav-link li {
    margin: 1.5rem;
  }

  .nav-link .menu-active {
    background: none;
    color: #c06e33;
  }
  .nav-link a:hover {
    background: none;
    color: #c06e33;
  }

  .nav-link a {
    font-weight: 600;
    color: #402218;
  }
  #check:checked ~ ul {
    right: 0;
  }
}

/* HOME SECTION */
.home {
  background: url(../Images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 1300px;
  height: 95vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 7.5rem;
}

.home-overlay {
  position: absolute;
  backdrop-filter: grayscale(100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.home-content {
  z-index: 100;

  margin-top: 8rem;
}
.home-content h1 {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Unbounded", cursive;
  width: 600px;
  color: white;
  letter-spacing: 4px;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.home-button {
  font-size: 14px;
  font-weight: bold;
  background-color: saddlebrown;
  color: #f8f4ea;
  text-decoration: none;
  padding: 6px 30px;
  border-radius: 15px;
}

.home-button:hover {
  background-color: #c06e33;
  color: #f8f4ea;
  transition: 0.4s linear;
}

/* QUOTES SECTION */
.container-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #402218;
  text-align: center;
}
.container-quotes p {
  font-size: 18px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  color: #fff;
}

/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
}
.about-picture img {
  width: 28rem;
  border-radius: 6rem 6rem 0 0;
}

.about-content h1 {
  font-size: 20px;
  padding-bottom: 10px;
}
.about-content p {
  font-size: 14px;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 1rem 0;
}

/* CUSTOMER REVIEWS */
.customer-comments {
  font-size: 12px;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 1rem;
}

.customer-star {
  margin-top: 5px;
}

.customer-name-review {
  font-size: 9px;
}

.customer-img-name img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 14px;
}

.customer-img-name {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.customer-1 {
  width: 400px;
  height: 190px;
  padding: 12px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  transition: transform 1s;
}

.customer-1:hover {
  transform: scale(1.08);
}

.reviews-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.customer-reviews h1 {
  font-size: 16px;
}
.customer-reviews {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  max-height: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

/* OTHER BUSINESS */
.other-business {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  max-height: 700px;
  padding-top: 0;
}
.other-business-line {
  width: 80%;
  border: 0;
  border-bottom: 2px solid #402218;
  margin: auto;
}
.hero h1 {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.box-container {
  display: flex;
  justify-content: center;
  vertical-align: auto;
  padding-top: 4rem;
  gap: 8rem;
}
.card {
  width: 260px;
  height: 320px;
  background: white;
  border: 1px solid #402218;
  padding: 10px;
  border-radius: 8px;
}
.card-image {
  width: 100%;
  height: 60%;
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}

.card-image img {
  object-fit: cover;
  height: 100%;
  transition: transform 1s;
}

.card-image:hover img {
  transform: scale(1.4);
}
.card-button {
  font-size: 12px;
  background-color: #dd9445;
  color: white;
  display: flex;
  justify-content: center;
  width: 90px;
  margin: 8px 0px;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 12px;
}
.card-button:hover {
  background-color: #ebae6e;
  color: white;
}
.card-hero {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0px 0;
}
.card-text {
  text-align: justify;
  font-size: 14px;
  color: black;
  padding: 8px 0px 0;
}
.card-2 {
  width: 260px;
  height: 320px;
  background: white;
  border: 1px solid #402218;
  padding: 10px;
  border-radius: 8px;
}
.card-button-2 {
  font-size: 12px;
  background-color: #dd9445;
  color: white;
  display: flex;
  justify-content: center;
  width: 90px;
  margin: 8px 0px;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 12px;
}
.card-button-2:hover {
  background-color: #ebae6e;
  color: white;
}
.card-image-2 {
  width: 100%;
  height: 60%;
  border-radius: 7px 7px 0 0;
  transition: transform 0.5s;
  overflow: hidden;
}

.card-image-2 img {
  object-fit: cover;
  height: 100%;
  transition: transform 1s;
}

.card-image-2:hover img {
  transform: scale(1.4);
}
.card-hero-2 {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0px 0;
}
.card-text-2 {
  text-align: justify;
  font-size: 14px;
  color: black;
  padding: 8px 0px 0;
}

/* FOOTER */
.copyright {
  text-align: center;
  font-size: 13px;
}

.footer-line {
  width: 75%;
  border: 0;
  border-bottom: 1px solid #402218;
  margin: 20px auto;
}

.footer-contact i {
  font-size: 22px;
}

.footer-contact-phone,
.footer-contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.footer-social-media svg:hover {
  color: #9e6d5c;
  transform: translateY(-8px);
}

.footer-social-media svg {
  width: 2.2rem;
  color: #402218;
  margin: 0 6px;
  transition: all 0.6s ease;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-column .footer-address {
  text-align: center;
  line-height: 1.2rem;
  margin-bottom: 10px;
}

.footer-column p {
  text-align: center;
  line-height: 2rem;
  font-size: 14px;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
}

.footer-column ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #402218;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #f8f4ea;
  background-color: #402218;
  padding: 4px 12px;
  border-radius: 10px 0;
  transition: 0.25s linear;
}

.footer-column ul li {
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column h1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.footer-column {
  flex-basis: 25%;
  padding: 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
}

footer {
  position: absolute;
  width: 100%;
  padding: 0px;
  color: #402218;
  padding: 3rem 0px 18px 0px;
  background: #f8f4ea;
  border-top: 1px solid gray;
}

/* FOOTER MEDIA QUERY TABLET SIZE */
@media (max-width: 999px) {
  .footer-container {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .footer-column p {
    font-size: 12px;
  }
  .footer-column ul li a {
    font-size: 12px;
  }
  .nav-link a {
    padding: 8px 18px;

    transition: 0.5s;
  }
  .nav-link img {
    width: 25px;
    transition: 0.5s;
  }
  .footer-column h1 {
    font-size: 16px;
  }
  .logo h1 {
    display: none;
  }
}

@media (max-width: 768px) {
  marquee {
    font-size: 10px;
  }
  .logo h1 {
    display: block;
    font-size: 10px;
    width: 125px;
  }
  .footer-column h1 {
    font-size: 14px;
  }

  .footer-logo {
    width: 6rem;
  }

  .copyright {
    font-size: 12px;
  }

  .footer-social-media svg {
    width: 1.8rem;
  }

  .footer-contact i {
    font-size: 16px;
  }
  .footer-contact-phone,
  .footer-contact-email {
    margin: 0;
    flex-direction: column;
    transition: 0.5s;
    gap: 0;
  }
  .copyright {
    font-size: 11px;
  }
  header {
    padding: 0 5rem;
    transition: 0.5s;
  }
}

@media (max-width: 652px) {
  .footer-column {
    flex-basis: 30%;
  }
}

@media (max-width: 544px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 1.5rem 0;
  }

  .footer-column h1,
  .footer-column ul {
    display: none;
  }
  header {
    padding: 0 3rem;
    transition: 0.5s;
  }
}

@media (max-width: 425px) {
  header {
    padding: 0 2rem;
    transition: 0.5s;
  }
}

/* SECTION LAPTOP*/
@media (max-width: 1160px) {
  .home-content h1 {
    font-size: 2rem;
    width: 600px;
  }
  .about {
    gap: 3.5rem;
  }
  .about-picture img {
    width: 24rem;
    transition: 0.5s;
  }
  .about-content p {
    letter-spacing: 0;
  }
  .box-container {
    gap: 4rem;
    transition: 0.5s;
  }
  .card-hero {
    font-size: 13px;
  }
  .card-hero-2 {
    font-size: 13px;
  }
  .card-text {
    font-size: 12px;
  }
  .card-text-2 {
    font-size: 12px;
  }
}

/* LAPTOP SMALL */
@media (max-width: 970px) {
  .about {
    gap: 2rem;
  }
  .box-container {
    gap: 3rem;
  }
  .about-picture img {
    width: 20rem;
  }
  .about-content h1 {
    font-size: 16px;
  }
  .customer-img-name {
    margin-bottom: 6px;
  }
  .customer-comments {
    font-size: 11px;
    letter-spacing: 0;
    transition: 0.5s;
  }
  .customer-img-name img {
    width: 45px;
    height: 45px;
    transition: 0.5s;
  }
  .card {
    width: 240px;
    height: 300px;
  }
  .card-2 {
    width: 240px;
    height: 300px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .footer-social-media svg:hover {
    transform: none;
  }
  .box-container {
    padding-top: 5rem;
  }
  .home {
    padding: 0 5rem;
  }
  .home-button {
    font-size: 12px;
  }
  .home-content h1 {
    margin-top: 0;
  }
  .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding-top: 3.5rem;
  }

  .about-picture img {
    width: 22rem;
    transition: 0.5s;
  }
  .about-content h1 {
    padding-bottom: 16px;
  }
  .about-content p {
    margin: 0;
    text-align: center;
  }
  .container-quotes p {
    font-size: 14px;
  }
  .reviews-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    transition: 0.5s;
    margin-top: 2rem;
  }
  .card-image:hover img,
  .card-image-2:hover img {
    transform: none;
  }
  .customer-1 {
    width: 300px;
    height: 120px;
  }
  .customer-1:hover {
    transform: none;
  }
  .customer-img-name img {
    width: 40px;
    height: 40px;
    transition: 0.5s;
  }
  .customer-img-name {
    margin-bottom: 4px;
  }
  .customer-name-review {
    font-size: 8px;
  }

  .card,
  .card-2 {
    width: 200px;
    height: 280px;
  }

  .card-button,
  .card-button-2 {
    font-size: 11px;
    width: 80px;
  }

  .card-hero,
  .card-hero-2 {
    font-size: 11px;
  }

  .card-text,
  .card-text-2 {
    font-size: 11px;
  }
  .home-content h1 {
    font-size: 1.5rem;
    width: 500px;
  }
  .home-button {
    padding: 6px 1.5rem;
  }

  .about-content p {
    font-size: 12px;
  }
  section {
    padding: 0rem 6rem;
  }
}

@media (max-width: 544px) {
  .hero h1 {
    margin-top: 40px;
  }
  .home {
    padding: 0 3rem;
  }
  .customer-1 {
    width: 280px;
    height: 100px;
    padding: 8px;
  }
  .customer-img-name img {
    width: 30px;
    height: 30px;
  }
  .customer-img-name {
    margin: 0;
    height: 35px;
  }
  .customer-comments {
    font-size: 10px;
  }

  .card-text,
  .card-text-2 {
    padding: 6px 0 0;
    transition: 0.5s;
  }
  .card,
  .card-2 {
    padding: 6px;
    transition: 0.5s;
    width: 180px;
    height: 260px;
  }
  .box-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 2rem 0 4rem 0;
  }
  .other-business {
    height: 100%;
  }
  section {
    padding: 0rem 4rem;
  }
}

/* MOBILE */
@media (max-width: 499px) {
  .home-content h1 {
    font-size: 1.2rem;
    width: 300px;
  }
  .container-quotes p {
    font-size: 11px;
  }
  .about-picture img {
    width: 18rem;
    transition: 0.5s;
  }
}

@media (max-width: 425px) {
  section {
    padding: 0 2rem;
  }
  .home {
    padding: 0 2rem;
  }
}
