* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
section {
  padding: 0 7.5rem;
}
body {
  background-color: #fff;
  font-family: "Roboto";
}

/* TOP */
marquee {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: 100%;
  background-color: #402218;
  color: #f8f4ea;
  font-size: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}

/* NAVIGATION BAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f8f4ea;
  padding: 0 7.5rem;
  z-index: 101;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo h1 {
  font-size: 12px;
  width: 132px;
  color: #402218;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: normal;
}
.nav-link img {
  width: 30px;
  height: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-link .menu-active {
  color: white;
  background-color: #402218;
  border-radius: 20px 0;
  transition: 0.1s linear;
}
.nav-link a {
  font-size: 12px;
  color: black;
  padding: 8px 22px;
  text-decoration: none;
  letter-spacing: 1px;
}
.nav-link a:hover {
  color: white;
  background-color: #402218;
  border-radius: 20px 0;
  transition: 0.1s linear;
}

.checkbtn {
  font-size: 22px;
  color: #402218;
  display: none;
}

#check {
  display: none;
}

/* BURGER MENU */

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }
  header {
    z-index: 101;
  }
  .logo {
    z-index: 101;
  }

  .nav-link {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #f8f4ea;
    top: 0;
    right: -100%;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-top: 20px;
  }

  .nav-link li {
    margin: 1.5rem;
  }

  .nav-link .menu-active {
    background: none;
    color: #c06e33;
  }
  .nav-link a:hover {
    background: none;
    color: #c06e33;
  }

  .nav-link a {
    font-weight: 600;
    color: #402218;
  }
  #check:checked ~ ul {
    right: 0;
  }
}

/* HOME SECTION */
.home {
  background: url(../Images/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  max-height: 1300px;
  height: 95vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 7.5rem;
}

.home-overlay {
  position: absolute;
  backdrop-filter: grayscale(100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.home-content {
  z-index: 100;

  margin-top: 8rem;
}
.home-content h1 {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Unbounded", cursive;
  width: 600px;
  color: white;
  letter-spacing: 4px;
  padding-bottom: 1rem;
  margin-top: 1rem;
  line-height: normal;
}

.home-button {
  font-size: 14px;
  font-weight: bold;
  background-color: #8b4513;
  color: #f8f4ea;
  text-decoration: none;
  padding: 6px 30px;
  border-radius: 15px;
}

.home-button:hover {
  background-color: #c06e33;
  color: #f8f4ea;
  transition: 0.4s linear;
}

/* QUOTES SECTION */
.container-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #402218;
  text-align: center;
}
.container-quotes p {
  font-size: 18px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 2px;
  color: #fff;
}

/* FOOTER */
.copyright {
  text-align: center;
  font-size: 13px;
  line-height: normal;
}

.footer-line {
  width: 75%;
  border: 0;
  border-bottom: 1px solid #402218;
  margin: 20px auto;
}

.footer-contact i {
  font-size: 22px;
}

.footer-contact-phone,
.footer-contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.footer-social-media svg:hover {
  color: #9e6d5c;
  transform: translateY(-8px);
}

.footer-social-media svg {
  width: 2.2rem;
  color: #402218;
  margin: 0 6px;
  transition: all 0.6s ease;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-column .footer-address {
  text-align: center;
  line-height: 1.2rem;
  margin-bottom: 10px;
}

.footer-column p {
  text-align: center;
  line-height: 2rem;
  font-size: 14px;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
}

.footer-column ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #402218;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #f8f4ea;
  background-color: #402218;
  padding: 4px 12px;
  border-radius: 10px 0;
  transition: 0.25s linear;
}

.footer-column ul li {
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column h1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.footer-column {
  flex-basis: 25%;
  padding: 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
  line-height: normal;
}

footer {
  position: absolute;
  width: 100%;
  padding: 0px;
  color: #402218;
  padding: 3rem 0px 18px 0px;
  background: #f8f4ea;
  border-top: 1px solid gray;
}

/* FOOTER MEDIA QUERY TABLET SIZE */
@media (max-width: 999px) {
  .footer-container {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .footer-column p {
    font-size: 12px;
  }
  .footer-column ul li a {
    font-size: 12px;
  }
  .nav-link a {
    padding: 8px 18px;

    transition: 0.5s;
  }
  .nav-link img {
    width: 25px;
    transition: 0.5s;
  }
  .footer-column h1 {
    font-size: 16px;
  }
  .logo h1 {
    display: none;
  }
}

@media (max-width: 768px) {
  marquee {
    font-size: 10px;
  }
  .logo h1 {
    display: block;
    font-size: 10px;
    width: 125px;
  }
  .footer-column h1 {
    font-size: 14px;
  }

  .footer-logo {
    width: 6rem;
  }

  .copyright {
    font-size: 12px;
  }

  .footer-social-media svg {
    width: 1.8rem;
  }

  .footer-contact i {
    font-size: 16px;
  }
  .footer-contact-phone,
  .footer-contact-email {
    margin: 0;
    flex-direction: column;
    transition: 0.5s;
    gap: 0;
  }
  .copyright {
    font-size: 11px;
  }
  header {
    padding: 0 5rem;
    transition: 0.5s;
  }
}

@media (max-width: 652px) {
  .footer-column {
    flex-basis: 30%;
  }
}

@media (max-width: 544px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 1.5rem 0;
  }

  .footer-column h1,
  .footer-column ul {
    display: none;
  }
  header {
    padding: 0 3rem;
    transition: 0.5s;
  }
}

@media (max-width: 425px) {
  header {
    padding: 0 2rem;
    transition: 0.5s;
  }
}

/* SECTION LAPTOP*/
@media (max-width: 1160px) {
  .home-content h1 {
    font-size: 2rem;
    width: 600px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .footer-social-media svg:hover {
    transform: none;
  }

  .home {
    padding: 0 5rem;
  }
  .home-button {
    font-size: 12px;
  }
  .home-content h1 {
    margin-top: 0;
  }

  .container-quotes p {
    font-size: 14px;
  }

  .home-content h1 {
    font-size: 1.5rem;
    width: 500px;
  }
  .home-button {
    padding: 6px 1.5rem;
  }

  section {
    padding: 0 6rem;
  }
}

@media (max-width: 544px) {
  .home {
    padding: 0 3rem;
  }

  section {
    padding: 0 4rem;
  }
}

/* MOBILE */
@media (max-width: 499px) {
  .home-content h1 {
    font-size: 1.2rem;
    width: 300px;
  }
  .container-quotes p {
    font-size: 11px;
  }
}

@media (max-width: 425px) {
  section {
    padding: 0 2rem;
  }
  .home {
    padding: 0 2rem;
  }
}
