* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f8f4ea;
  padding: 0 7.5rem;
  z-index: 101;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid gray;
}

.logo {
  width: 65px;
  height: 65px;
}
.nav-link img {
  width: 30px;
  height: auto;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-link .menu-active {
  color: white;
  background-color: #402218;
  border-radius: 20px 0;
  transition: 0.1s linear;
}
.nav-link a {
  font-size: 12px;
  color: black;
  padding: 8px 22px;
  text-decoration: none;
  letter-spacing: 1px;
}
.nav-link a:hover {
  color: white;
  background-color: #402218;
  border-radius: 20px 0;
  transition: 0.1s linear;
}

.checkbtn {
  font-size: 22px;
  color: #402218;
  display: none;
}

#check {
  display: none;
}

/* BURGER MENU */

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    cursor: pointer;
    z-index: 1001;
  }
  header {
    z-index: 101;
  }
  .logo {
    z-index: 101;
  }

  .nav-link {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #f8f4ea;
    top: 0;
    right: -100%;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .nav-link li {
    margin: 1.5rem;
  }

  .nav-link .menu-active {
    background: none;
    color: #c06e33;
  }
  .nav-link a:hover {
    background: none;
    color: #c06e33;
  }

  .nav-link a {
    font-weight: 600;
    color: #402218;
  }
  #check:checked ~ ul {
    right: 0;
  }
}

/* MAIN */
main {
  background-color: #fff;
  padding: 3rem 7.5rem;
  margin-top: 60px;
  height: 100%;
  width: 100%;
}

.main-title h1 {
  text-align: center;
  font-size: 1.5rem;
  color: #402218;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.main-title span {
  font-size: 1rem;
  font-weight: 100;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 200px;
  margin-bottom: 3rem;
  color: #402218;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid saddlebrown;
  width: 78%;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.main-right-address {
  width: 300px;
  line-height: 1.5rem;
}

.google-maps {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

/* FOOTER */
.copyright {
  text-align: center;
  font-size: 13px;
}

.footer-line {
  width: 75%;
  border: 0;
  border-bottom: 1px solid #402218;
  margin: 20px auto;
}

.footer-contact i {
  font-size: 22px;
}

.footer-contact-phone,
.footer-contact-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.footer-social-media svg:hover {
  color: #9e6d5c;
  transform: translateY(-8px);
}

.footer-social-media svg {
  width: 2.2rem;
  color: #402218;
  margin: 0 6px;
  transition: all 0.6s ease;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.footer-column .footer-address {
  text-align: center;
  line-height: 1.2rem;
  margin-bottom: 10px;
}

.footer-column p {
  text-align: center;
  line-height: 2rem;
  font-size: 14px;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7rem;
}

.footer-column ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #402218;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #f8f4ea;
  background-color: #402218;
  padding: 4px 12px;
  border-radius: 10px 0;
  transition: 0.25s linear;
}

.footer-column ul li {
  list-style-type: none;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column h1 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.footer-column {
  flex-basis: 25%;
  padding: 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
}

footer {
  position: absolute;
  width: 100%;
  padding: 0px;
  color: #402218;
  padding: 3rem 0px 18px 0px;
  background: #f8f4ea;
  border-top: 1px solid gray;
}

/* FOOTER MEDIA QUERY TABLET SIZE */
@media (max-width: 999px) {
  .footer-container {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .footer-column p {
    font-size: 12px;
  }
  .footer-column ul li a {
    font-size: 12px;
  }
  .nav-link a {
    padding: 8px 18px;

    transition: 0.5s;
  }
  .nav-link img {
    width: 25px;
    transition: 0.5s;
  }
  .footer-column h1 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer-column h1 {
    font-size: 14px;
  }

  .footer-logo {
    width: 6rem;
  }

  .copyright {
    font-size: 12px;
  }

  .footer-social-media svg {
    width: 1.8rem;
  }

  .footer-contact i {
    font-size: 16px;
  }
  .footer-contact-phone,
  .footer-contact-email {
    margin: 0;
    flex-direction: column;
    transition: 0.5s;
    gap: 0;
  }
  .copyright {
    font-size: 11px;
  }
  header {
    padding: 0 5rem;
    transition: 0.5s;
  }
}

@media (max-width: 652px) {
  .footer-column {
    flex-basis: 30%;
  }
}

@media (max-width: 544px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 1.5rem 0;
  }

  .footer-column h1,
  .footer-column ul {
    display: none;
  }
  header {
    padding: 0 4rem;
    transition: 0.5s;
  }
}

@media (max-width: 425px) {
  header {
    padding: 0 2rem;
    transition: 0.5s;
  }
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.main-left,
.main-right {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 200px;
  margin-bottom: 3rem;
  color: #402218;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid saddlebrown;
  width: 78%;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.main-right-address {
  width: 300px;
  line-height: 1.5rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 200px;
  margin-bottom: 3rem;
  color: #402218;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid saddlebrown;
  width: 78%;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.main-right-address {
  width: 300px;
  line-height: 1.5rem;
}

@media (max-width: 1024px) {
  .main-content {
    grid-template-columns: 1fr;
    height: auto;
    padding: 20px;
    border: none;
    border-bottom: 1px solid saddlebrown;
    transition: 0.5s;
  }

  .main-left,
  .main-right {
    text-align: center;
  }

  .main-right-address {
    width: auto;
    text-align: center;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
    height: auto;
    padding: 20px;
    transition: 0.5s;
  }
  .main-left,
  .main-right {
    font-size: 14px;
  }

  .main-right-address {
    width: auto;
  }
  main {
    padding: 3rem 5rem;
  }
  .main-title h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .main-title span {
    font-size: 0.8rem;
  }
  .google-maps iframe {
    height: 400px;
  }
}

@media (max-width: 544px) {
  main {
    padding: 3rem 4rem;
  }
  .main-title h1 {
    font-size: 1rem;
  }
  .main-left,
  .main-right {
    font-size: 12px;
    padding: 0;
  }
}

@media (max-width: 425px) {
  main {
    padding: 2rem 3rem;
  }
}
